html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
#map {
	height: 100%;
	width: 100%;
	position:absolute;
}

#message{
	z-index:1;
	position:fixed;

	bottom: 0;
	right: 0;
	
	
}
#miratan{
	position:fixed;
	bottom: 0;
	right: 0;
	padding: 0px 30px 0px;
	width: 200px;
	height: 200px;
}
#close{
	position:absolute;
	top:0px;
	left: 150px;
	right: 0;
	width: 20px;
	height: 20px;
}

#balloon2 {
 	position: relative;
	top:0px;
	left:-200px;
	display: inline-block;
 	margin: 1.5em 15px 1.5em 0;
	padding: 15px 10px;
	min-width: 120px;
 	max-width: 100%;
 	color: #555;
	font-size: 200%;
	background: #FFF;
 	border: solid 3px #555;
 	box-sizing: border-box;
}

#balloon2:before{
	content: "";
	position: absolute;
	top: 50%;
	right: -24px;
 	margin-top: -12px;
	border-left-color: #c2e1f5;
	border: 12px solid transparent;
	border-left: 12px solid #FFF;
 	z-index: 2;
}

#balloon2:after{
	content: "";
	position: absolute;
	top: 50%;
	right: -30px;
 	margin-top: -14px;
	border: 14px solid transparent;
	border-left: 14px solid #555;
 	z-index: 1;
}

balloon2 p {
	margin: 0;
	padding: 0;
}